Course 1/Компьютерные языки разметки/11. Xml. Valid XML Documents/3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PERSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="INFO" type="xs:string"/>
        <xs:element name="FIRST_NAME" type="xs:string"/>
        <xs:element name="LAST_NAME" type="xs:string"/>
        <xs:element name="AGE" type="xs:string"/>
        <xs:element name="COUNTRY" type="xs:string"/>
        <xs:element name="LOCATION" type="xs:string"/>
        <xs:element name="NATIVE_CITY" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
